@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {

    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 5% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}



.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    
}


.apresentacao__conteudo__texto__formacoes{
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    gap: 10px;
    border: solid 1px;
    border-radius: 10px;
    border-color: var(--cor-terciaria);
    padding: 2%;
}

.apresentacao__conteudo__texto__titulo{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto__links{
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__imagem {
    width: 30%;
    margin-bottom: 180%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;

    }
    .cabecalho__menu__link {
        font-size: 1.5rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
        text-align: center;
    }


    .apresentacao__imagem {
        width: 60%;
        margin-bottom: 10px;
    }


}


@media (max-width: 540px) {
    .cabecalho {
        padding: 10%;

    }

    .cabecalho__menu {
        justify-content: center;
        gap: 10%;

    }

    .cabecalho__menu__link {
        font-size: 1.2rem;
    }

    .apresentacao__imagem {
        width: 60%;

    }
}

@media (max-width: 406px) {

    .cabecalho__menu__link {
        font-size: 1rem;
    }

    .apresentacao__links__navegacao {
        font-size: 1rem;
        width: 60%;
    }

}
