@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {

    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);

}

.apresentacao__imagem {
    width: 30%;
    margin-bottom: 250px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 0.9rem;
    font-family: var(--fonte-secundaria);
   }

.apresentacao__conteudo__texto__projetos {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    gap: 35px;
}

.link__projetos {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}



@media (max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
        padding-top: 50px;
        gap: 20px;

    }

    .cabecalho__menu__link {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 30px;
    }

    .apresentacao__imagem {
        width: 40%;
        margin-bottom: 10px;
    }

    .apresentacao__conteudo {
        width: auto;
        align-items: center;
    }



}

@media (max-width: 541px) {
    .cabecalho__menu {
        justify-content: center;
        padding-top: 50px;
        gap: 30px;

    }
    .cabecalho__menu__link {
        font-size: 1rem;
        gap: 10px;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
        font-family: var(--fonte-primaria);
    
    }
}

@media (max-width: 430px) {
    
    .cabecalho__menu {
        justify-content: center;
        padding-top: 50px;
        gap: 20px;

    }

    .cabecalho__menu__link {
        font-size: 0.8rem;
        gap: 10px;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
        font-family: var(--fonte-primaria);
    
    }

}

@media (max-width: 320px) {
    
    .cabecalho__menu {
        justify-content: center;
        padding-top: 50px;
        gap: 20px;

    }

    .cabecalho__menu__link {
        font-size: 0.5rem;
        gap: 10px;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
        font-family: var(--fonte-primaria);
    
    }

}